<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Quem são seus maiores fãs no Instagram?">
    <meta name="author" content="Luiz Augusto Morais">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    <title>Fãs da fotinhas</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
        <div class="navbar-header page-scroll">
          <a class="navbar-brand row" href="/">
            <img class="col-md-3 hidden-xs" style="max-width: 110px; margin-top: -23px;" src="{% static 'img/photo-camera.svg' %}" alt="Camera" />
            <span class="col-md-9 hidden-xs" style="margin-top: 3px">Fãs das fotinhas</span>

            <img class="visible-xs col-xs-4" style="max-width: 90px; margin-top: -20px;" src="{% static 'img/photo-camera.svg' %}" alt="Camera" />
            <span class="visible-xs col-xs-8" style="font-size: 15px; margin-top: 3px">Fãs das fotinhas</span>
          </a>
        </div>
        <div class="navbar-right hidden-xs" style="margin-top: 7px">
          {% block auth_button %}{% endblock %}
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  {% block profile %}
                  {% endblock %}
                </div>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock%}

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3>O autor</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="http://facebook.com/luizaugustomm" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="http://plus.google.com/+LuizAugustoMorais" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="http://twitter.com/luizaugustomm" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3>A história</h3>
                        <p>Tudo surgiu a partir da curiosidade do autor e de sua noiva, que queriam saber quem eram seus fãs no Instagram</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Luiz Augusto M. Morais {% now "Y" %} &bull; <a href="privacy">Política de Privacidade</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{%  static 'js/freelancer.min.js'%}"></script>

</body>

</html>
