

{% extends 'base.html' %}
{% load static %}

{% block auth_button %}
  <a class="btn btn-warning" href="logout">Sair</a>
{% endblock %}


{% block profile %}
  <img class="img-responsive img-circle" src="{{ me.profile_picture }}" alt="" width="200px", height="200px">
  <div class="intro-text">
    <span class="name">{{ me.full_name }}</span>
    <hr class="star-light">
    <span class="skills">{{ me.counts.followed_by }} seguidores fieis</span>
  </div>
{% endblock %}


{% block content %}
  <!-- About Section -->
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Seus fãs</h2>
                  <hr class="star-primary">
              </div>
          </div>
          {% for username, data in fans %}
          <div class="row">
            <div class="col-md-1 col-xs-2 col-md-offset-3">
              <img class="img-circle" height="35px" width="35px" src="{{ data.profile_picture }}" alt="Fan" />
              <span class="badge badge-success pull-right">{{ forloop.counter }}</span>
            </div>
            <div class="col-md-4 col-xs-6">
              <span class="lead text-left">
                {% if data.full_name != '' %}
                  {{ data.full_name }}
                {% else %}
                  {{ username }}
                {% endif %}
              </span>
            </div>
            <div class="col-md-2 col-xs-2">
              <span class="glyphicon glyphicon-heart" style="color: #FF111D" aria-hidden="true"></span>
              <span class="lead text-left">{{ data.likes }}</span>
            </div>
          </div>
          <br>
          {% endfor %}
      </div>
  </section>
{% endblock %}
