
{% extends 'base.html' %}
{% load static %}

{% block profile %}
  <h2>Política de Privacidade do <em>Fãs das fotinhos</em></h2>
{% endblock %}

{% block content %}
  <!-- About Section -->
  <section id="about">
      <div class="container">
        <p>
          <em>Fãs da fotinhos</em> é uma página da web na qual você pode ver quem são os usuários do Instagram que mais curtiram suas últimas postagens.
        </p>
        <p>
          Essa página de política de privacidade descreve como o <em>Fãs da fotinhos</em> coleta e usa suas informações a partir da API do Instagram.

        <h3>Coleta da informação e uso</h3>
        <p>
          Nós coletamos suas informações abaixo para fornecer nossos serviços.
        </p>
        <ul>
          <li>Dados básicos de usuários: nós coletamos a foto do perfil e dados básicos como nome de usuário e quantidades de curtidas que ele deu recentemente.</li>
          <li>Dados de postagens: nós também obtemos os dados de postagens do usuário logado para podermos identificar quem curtiu mais.</li>
          <li>Cookies: Nós usamos cookies para que o usuário não precise fazer login toda vez que entre no site</li>
        </ul>

        <h3>Informação importante</h3>
        <p>
          Nós não guardamos suas informações pessoais. Tudo o que é mostrado no site é fornecido pela API do Instagram, com sua devida permissão.
        </p>

        <h3>Mudanças nesta política</h3>
        <p>
          Nós podemos revisar esta política de privacidade quando necessário.
        </p>
      </div>
  </section>
{% endblock %}
